<ul class="pagination justify-content-center mt-5 mb-5">
    {% if trainer_lists.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ trainer_lists.pervious_page_number }}">Previous</a></li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="?page={{ trainer_lists.num_pages }}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
    {% endif %}
    
    {% for i in trainer_lists.paginator.page_range %}
        {% if trainer_lists.number == i %}
            <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if trainer_lists.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ trainer_lists.next_page_number }}">Next</a></li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="?page={{ trainer_lists.num_pages }}">Next</a>
        </li>
    {% endif %}
</ul>