{% extends 'base.html' %}

{% block title %}Edit Trainer{% endblock %}

{% block content %}
    <h3 class="display-4 text-center mb-4">Edit Trainers</h3>

    <form action="{% url 'update_trainer' trainer.id %}" class="needs-validation" method="POST" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" class="form-control" value="{{ trainer.first_name }}" required>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Please fill out first name</div>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" class="form-control" value="{{ trainer.last_name }}" required>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Please fill out last name</div>
        </div>
        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" name="subject" id="subject" class="form-control" value="{{ trainer.subject }}" required>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Please fill out subject</div>
        </div>
        <input type="submit" value="Update" class="btn btn-success">
        <input type="reset" value="Cancel" class="btn btn-danger float-right">
    </form>
{% endblock %}