{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="display-4 text-center mb-5">All Trainers</h1>

    {% if trainer_lists %}
        <table class="table table-striped">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Buttons</th>
                </tr>
            </thead>
            <tbody>
                {% for trainer in trainer_lists %}
                    <tr>
                        <th scope="row">{{ trainer.id }}</th>
                        <td>{{ trainer.first_name }}</td>
                        <td>{{ trainer.last_name }}</td>
                        <td>{{ trainer.subject }}</td>
                        <td colspan="2">
                            <a href="{% url 'update_trainer' trainer.id %}" class="btn btn-info">
                                <i class="bi bi-pen"></i>
                            </a>
                            <a href="{% url 'delete_trainer' trainer.id %}" class="btn btn-danger">
                                <i class="bi bi-trash2"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include 'includes/paginator.html' %}
{% endblock %}